/*This is the first implementation from https://code.tutsplus.com/tutorials/10-css3-properties-you-need-to-be-familiar-with--net-16417

This is also an example of a CSS element selector*/

h1 {
   -webkit-text-stroke: 2px black;
   color: white;
  text-align: center;
}

/*This is the second implementation from https://code.tutsplus.com/tutorials/10-css3-properties-you-need-to-be-familiar-with--net-16417*/
h2 {
   text-shadow: 0 1px 0 white;
   color: #292929;
}




/*This is the third implementation from https://code.tutsplus.com/tutorials/10-css3-properties-you-need-to-be-familiar-with--net-16417*/
ul a {
   -webkit-transition: padding .4s; 
   -moz-transition: padding .4s;
   -o-transition: padding .4s;
   transition: padding .4s;
}
 
a:hover { 
   padding-left: 6px;  
}

/*This is an example of the CSS id selector*/
#mainPara {
  text-align: center;
  color: orange;
} 

/*This is an example of the CSS class selector*/
.pad {
  padding:10px;
  color: red;
}
